body {
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background: #088a63 url("img/bg.jpg") no-repeat 50% 0;
  }
  
  h1 {
    width: 260px;
    font-family: "Georgia", serif;
    font-size: 36px;
    line-height: 36px;
  }
  
  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;
  }
  
  .site-header {
    margin-bottom: 30px;
  }
  
  .skills-item {
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #c4c4c4;
    color: #999999;
  }
  
  .standard {
    border-color: #ffc5b3;
    color: #666666;
  }
  
  .vip {
    border-color: #ff5a26;
    color: #000000;
  }
  
  .container {
    width: 480px;
    margin: 0 auto;
  }
  
  .site-header img {
    display: block;
    margin: 0 auto;
  }
  
  .features {
    margin-bottom: 30px;
  }
  
  .features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .skills-list {
    padding: 0;
    list-style: none;
  }
  
  .wishes{
    margin-bottom: 30px;
    text-align: center;
  }
  #btn_health_wishes{
    background: #ff5a26;
    color: #ffc5b3;
    border: 5px solid #ffc5b3;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 36px;
    cursor: pointer;
  }

#p-health-wishes{
  height: 150px;
  font-size: 28px;
  line_height: 40px;
  color: #ff5a26;
  text-align: justify;
}
  .site-footer p {
   border: 1px solid #ff5a26;
   padding: 10px 20px;
   border-radius: 10px 0px;
  background-color: #ffc5b3;
cursor: pointer;
}
 .site-footer p:last-child {
  cursor: auto;
 }
 /*Галерея*/

.gallery {
  display: flex;
  width: 100%;
  flex-wrap: row;
  justify-content: space-evenly;
  align-items: center;
}

 #main-image {
  width: 300px;
  height: 150px;
 }

#left-arrow, #right-arrow {
  width: 32px;
  height: 32px;
  cursor: pointer;
}